<ul>
  <% if (bookinstance_list) { %> <% bookinstance_list.forEach(bookInstance => {
  %>
  <li>
    <a href="<%= bookInstance.url %>"> <%= bookInstance.book.title %> </a> : <%=
    bookInstance.imprint %> - <% if (bookInstance.status === 'Available') { %>
    <span class="text-success"><%= bookInstance.status %></span>
    <% } else if (bookInstance.status === 'Maintenance') { %>
    <span class="text-danger"><%= bookInstance.status %></span>
    <% } else { %>
    <span class="text-warning"><%= bookInstance.status%></span>
    <% } %> <% if (bookInstance.status !== 'Available') { %>
    <span>(Due: <%= bookInstance.due_back %> )</span>
    <% } %>
  </li>
  <% }) %> <% } else { %>
  <li>There are no book copies in this library.</li>
  <% } %>
</ul>
